.back-button{
    background-color:ghostwhite ;
    padding: 3px 15px 3px 15px ; 
    border-radius: 50px
}
.back-button img{
    width: 20px;
    height: auto;
}
.reaction-box{
    padding: 5px 25px;
    border-radius: 75px;
    background-color: ghostwhite
}
.message-box {
    flex: 0 1 40px;
    width: 100%;
    padding: 5px;
    position: relative;
    
    & .message-input {
      background: none;
      border: none;
      outline: none!important;
      resize: none;
    
      font-size: 14px;
      height: 55px;
      margin: 0;
      padding-right: 20px;
      width: 265px;
    }
    
    textarea:focus:-webkit-placeholder{
        color: transparent;
    }
    
    & .message-submit {
      position: absolute;
      z-index: 1;
      top: 9px;
      right: 10px;
      color: #fff;
      border: none;
      background: #248A52;
      font-size: 10px;
      text-transform: uppercase;
      line-height: 1;
      padding: 6px 10px; 
      border-radius: 10px;
      outline: none!important;
      transition: background .2s ease;
      
      &:hover {
        background: #1D7745;
      }
    }
  }